body {
   min-height: 100vh;
   background-color: var(--bg);
   color: var(--text);
   font: 1rem "Poppins", sans-serif;
   transition: background-color 0.2s linear;
}

html {
   scrollbar-width: thin;
   scrollbar-color: var(--important) rgba(0, 0, 0, 0);
}

a {
   color: var(--sub-text);
   text-decoration: none;
   font-style: italic;
   cursor: pointer;
}

a:hover:not(.selected) {
   color: var(--hover);
   transition: color 0.2s linear;
}

#main-box {
   margin-top: 10vh;
   margin-bottom: 5vh;
}

#main {
   padding: 2.5vh 2.5vw 2.5vh 2.5vw;
   max-width: 1000px;
}

#contact>a {
   margin-right: 10px;
}

#landing-title {
   margin-top: 15vh;
   margin-bottom: 12.5vh;
   margin-left: 15%;
   font-size: 1.8rem;
   font-weight: bold;
}

.scroll {
   color: var(--important);
   font-weight: bolder;
   animation: scroll 5s linear;
}

@keyframes scroll {
   0% {
      position: relative;
      top: -2rem;
      opacity: 0;
   }

   10% {
      top: 0;
      opacity: 1;
   }

   90% {
      top: 0;
      opacity: 1;
   }

   100% {
      position: relative;
      top: 2rem;
      opacity: 0;
   }
}

#choices>div>a {
   margin-right: 25px;
   padding-top: 5px;
   font-style: normal;
   height: 25px;
}

#about,
#content-box,
#content {
   margin-top: 7.5vh;
}

#about {
   width: 60%;
   min-width: 265px;
}

#content {
   transition: opacity 0.1s;
   opacity: 0;
}

#about-text,
#choices {
   margin-top: 10px;
}

#header {
   height: 45px;
}

#header,
#menu {
   position: sticky;
   top: -1px;
   z-index: 1000;
   padding-top: 2vh;
   padding-bottom: 2vh;
   background-color: var(--bg);
   border-bottom: 0.2px solid var(--bg-bis);
   transition: background-color 0.2s linear;
}

#menu {
   top: calc(42px + 4vh);
}

#theme-button {
   border-radius: 10px;
   width: 50px;
   background-color: var(--bg-bis);
   transition: background-color 0.3s linear;
}

#theme-button>img {
   padding: 3px 5px 3px 5px;
   border-radius: 10px;
}

#popup {
   display: none;
   position: absolute;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   background: var(--blur);
   z-index: 2000;
}

#popup-container {
   width: 100%;
}

#popup-bg {
   width: 60%;
   max-height: 90vh;
   background-color: var(--bg);
   border-radius: 7.5px;
   padding-bottom: 5vh;
   transition: background-color 0.2s linear;
}

@media (max-width: 700px) {
   #popup-bg {
      width: 80%;
   }
}

#popup-back {
   position: relative;
   top: 2vh;
   left: 5vh;
   font-weight: bold;
}

#popup-content {
   position: relative;
   width: 90%;
   max-height: 80vh;
   left: 5%;
   top: 2vh;
   margin-top: 10px;
   overflow-y: auto;
   scrollbar-width: thin;
   scrollbar-color: var(--important) rgba(0, 0, 0, 0);
}

#infos {
   text-align: center;
   margin-top: 10vh;
}

#infos>* {
   margin-top: 15px;
}

#infos>a {
   height: 24px;
   background-color: var(--bg-bis);
   border-radius: 12px;
   padding: 2.5px 10px;
   text-align: center;
   transition: background-color 0.1s linear;
}

#infos>a:hover {
   background-color: var(--important);
   color: var(--bg);
   font-weight: bold;
}

#footer {
   width: 100%;
   background-color: var(--bg-bis);
   padding: 3vh 0;
}

#footer>a>img {
   filter: opacity(0.5);
   transition: filter 0.1s linear;
   margin: 10px;
   padding: 4px;
   border-radius: 20px;
   border: 3px solid var(--text);
}

#footer>a>img:hover {
   filter: opacity(1);
}

.theme-selected {
   background-color: var(--important);
}


.selected {
   background-color: var(--important);
   border-radius: 10px;
   padding: 0 12.5px 0 12.5px;
   color: var(--bg);
   text-align: center;
   font-weight: bolder;
   transition: color 0.2s linear;
   transition: all 0.1s linear;
}

.important {
   color: var(--important);
   font-size: 1.2rem;
   font-weight: bolder;
}

.vignette {
   width: 150px;
   height: 240px;
   background-color: var(--bg-bis);
   border-radius: 12px;
   margin: 10px;
}

.vignette-type {
   color: var(--sub-text);
   font-style: italic;
   font-size: small !important;
   font-weight: 500;
}

.vignette>* {
   margin-left: 15px;
}

.vignette>img {
   margin-top: 10px;
   width: 120px;
   height: 120px;
   border-radius: 7.5px;
}

.vignette>div {
   font-size: 1rem;
   font-weight: bold;
}

.vignette>a {
   font-size: 0.8rem;
   font-weight: bold;
   color: var(--important);
   margin-bottom: 10px;
}

.flex {
   display: flex;
}

.column {
   flex-direction: column;
}

.end {
   align-items: self-end;
}

.center {
   align-items: center;
}

.space {
   justify-content: space-around;
}

.between {
   justify-content: space-between;
}

.just-center {
   justify-content: center;
}

.titleA {
   font-size: large;
   font-weight: bold;
   color: var(--important);
}

.titleB {
   font-weight: bold;
   color: var(--important);
}

.titleC {
   font-style: italic;
   color: var(--sub-text);
}