:root {
   --inv: rgba(0, 0, 0, 0);
   --blur: rgba(25, 30, 45, 0.7);
   --bg: #121417;
   --bg-bis: #1D1F25;
   --border: #181A1F;
   --text: #969AA5;
   --sub-text: #9ea3b5;
   --hover: #e7ebf1;
   --important: #647cff;
   --comp: #5a0093;
   --dev: #003b08;
   --tools: #000d84;
   --softwares: #852400;
   --shadow: rgba(255, 255, 255, 0.15);
}